<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!--https://login.codingdojo.com/m/506/12467/87464
"<img src="{{ url_for('static', filename='Image/joker png.png') }}">>-->

    
  <h1 class="text-center">Welcome {{user.first_name}}!!!</h1>
  


  <a href="/logout" class="btn btn-info">Logout</a>


</body>
    
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title>Squid Game</title>



</head>

<body>
  



  <script src="./js/script.js"></script>

  <div class="webpage"></div>

  <center><h1>Squid Game</h1></center>
  <div class="body">
    
 </body>
    
    </div>
    
                <div class="body">
            
</html>
<script src="script.js"></script>
</body>
</html>