<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <div class="header">
      <div class="logout">
        <a href="/logout" class="btn btn-info">Logout</a>
      </div>
      <h1 class="text-center">Welcome {{user.first_name}}!!!</h1>
      <h1 class="text-center">Squid Game</h1>
      <h2 class="text-center">Red Light, Green Light</h2>
    </div>
    <div class="buttons">
      <a href="/add" class="btn btn-warning">Add Player</a>
      <button class="btn btn-success">Begin</button>
      <button class="btn btn-danger">Reset</button>
    </div>
    <div class="container players">
      {% for player in users_players %}
        {% if player.name != none %}
          <div class="player">
            <div class="playerimg">
              <img src="{{player.image}}" alt="image load error">
            </div>
            <a class="playerlink" href="/edit/{{player['player_id']}}">{{player.name}}</a>
            <div class="delete">
              <a class="btn btn-danger" href="/destroy/{{player['player_id']}}">delete</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <script src="script.js"> </script>
</body>
</html>